<!doctype html>
<html>
  <%- include('head', {page: 'Welcome Traveler'}) %>
  <body>
    <div>
      <a href='/artist'>Add an artist</a>
      <a href='/album'>Add an album</a>
      <a href='/'>Index</a>
    </div>
    <div class='artists'>
      <h1>ARTISTS</h1>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Genre</th>
          </tr>
        </thead>
        <tbody>
        <% artists.forEach(function(artist) { %>
          <tr>
            <td><%= artist.name %></td>
            <td><%= artist.genre %></td>
            <td>
              <form action='/artist/<%= artist._id %>/delete' method='POST'>
                <input type='submit' value='Delete'>
              </form>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <div class='albums'>
      <h1>ALBUMS</h1>
      <table>
        <thead>
          <tr>
            <th>Group</th>
            <th>Title</th>
          </tr>
        </thead>
        <tbody>
          <% albums.forEach(function(album) { %>
            <tr>
              <td><%= album.group %></td>
              <td><%= album.title %></td>
              <td>
                <form action='/album/<%= album._id %>/delete' method='POST'>
                  <input type='submit' value='Delete'>
                </form>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <%- include('javascripts') %>
  </body>
</html>
